section.book-kit {
  padding-block: 6.5rem 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin-inline: auto;

  & .title {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & img {
      width: clamp(1.25rem, 0.9392rem + 1.326vw, 4rem);
      filter: drop-shadow(0 0 .75rem #8F3B9E);
    }

  }

  & p {
    margin-top: .5rem;
    font: var(--body-sm);
  }

  & .kit {
    margin-block: 4rem 5.5rem;
    width: 23.4375rem;
    height: 19.9375rem;
    position: relative;

    & .elipse-blur {
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--pink-low);
      filter: blur(5.25rem);
    }

    & .kit-item {
      position: absolute;
      font: 400 .625rem/1 "Raleway", sans-serif;
      z-index: 0;
    }

    & img[src*="example-book"] {
      width: 9.8244rem;
      position: absolute;
      z-index: 1;
      top: 3.3481rem;
      right: 8.125rem;
    }


    & span:nth-child(2) {
      left: .6538rem;
      top: 1.5481rem;
    }


    & img[src*="arrow1"] {
      width: 3.6713rem;
      left: 2.5881rem;
      top: 3.0056rem;
    }

    & span:nth-child(4) {
      left: .695rem;
      top: 9.6475rem;
    }

    & img[src*="arrow2"] {
      width: 2.2056rem;
      left: 1.6131rem;
      top: 11.0944rem;
    }

    & img[src*="pin"] {
      width: 4.855rem;
      left: 2.7rem;
      top: 12.5rem;
    }

    & img[src*="bookmark-yellow"] {
      transform: rotate(12deg);
      width: 3.65rem;
      top: 1.75rem;
      right: 5.625rem;
    }

    & img[src*="bookmark-purple"] {
      transform: rotate(22deg);
      width: 3.6181rem;
      top: 4rem;
      right: 3rem;
      z-index: -1;
    }

    & img[src*="arrow3"] {
      width: 3.06rem;
      right: 4.1rem;
      bottom: 2rem;
    }

    & span:nth-child(10) {
      right: 3.4rem;
      bottom: 0.8rem;
    }
  }
}

@media (width >=48rem) {
  section.book-kit {
    & .kit {
      margin-top: 10rem;
      scale: 1.7;

      & .elipse-blur {
        filter: blur(150px);
      }
    }
  }
}

@media (width >=64rem) {
  section.book-kit {
    & p {
      font: var(--body-md);
    }

    & .kit {
      scale: 1;
      margin-block: 5.5rem 0;
      width: 64rem;
      height: 57.5rem;
      position: relative;

      & .kit-item {
        position: absolute;
        font: var(--body-md);
        z-index: 0;

        opacity: 0;
        scale: 0;
        translate: var(--offset-x) var(--offset-y);
        transition: opacity 0.5s ease, scale 0.5s ease, translate 0.8s cubic-bezier(0.34, 1.4, 0.64, 1);
      }

      &:hover .kit-item {
        opacity: 1;
        scale: 1;
        translate: 0 0;
      }

      & .elipse-blur {
        filter: blur(31.25rem);
      }


      & img[src*="example-book"] {
        width: 29.1875rem;
        position: absolute;
        z-index: 1;
        top: 8.375rem;
        right: 18.125rem;
      }

      & span:nth-child(2) {
        left: 1.875rem;
        top: 4.775rem;
        --offset-x: 15.625rem;
        --offset-y: 7.5rem;
      }


      & img[src*="arrow1"] {
        width: 10.875rem;
        left: 7.5rem;
        top: 7.1875rem;
        --offset-x: 15.625rem;
        --offset-y: 7.5rem;
      }

      & span:nth-child(4) {
        left: 5.0625rem;
        top: 28.4375rem;
        --offset-x: 15.625rem;
        --offset-y: -5rem;
      }

      & img[src*="arrow2"] {
        width: 6.5rem;
        left: 5.6875rem;
        top: 31.25rem;
        --offset-x: 15.625rem;
        --offset-y: -7.5rem;
      }

      & img[src*="pin"] {
        width: 13.875rem;
        left: 8.4375rem;
        top: 36.25rem;
        --offset-x: 11.25rem;
        --offset-y: -11.25rem;
      }

      & img[src*="bookmark-yellow"] {
        width: 10.75rem;
        top: 3.95rem;
        right: 15rem;
        --offset-x: -3.75rem;
        --offset-y: 9.375rem;
      }

      & img[src*="bookmark-purple"] {
        width: 10.75rem;
        top: 9.5rem;
        right: 7.1875rem;
        z-index: -1;
        --offset-x: -12.5rem;
        --offset-y: 0;
      }

      & img[src*="arrow3"] {
        width: 9.0625rem;
        right: 10.625rem;
        bottom: 6rem;
        --offset-x: -3.125rem;
        --offset-y: -12.5rem;
      }

      & span:nth-child(10) {
        right: 13rem;
        bottom: 3.5rem;
        --offset-x: -1.875rem;
        --offset-y: -13.75rem;
      }
    }
  }
}